
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-53283JCP');</script>
  <!-- End Google Tag Manager -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Your Daily Card</title>
  <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-53283JCP"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <main>
    
    <section id="card-display">
      <img src="{{ image }}" alt="{{ card }}" class="tarot-card" />
            <p>{{ text }}</p>
    </section>

    <div class="actions">
      <button onclick="window.location.href='https://astrolove.com'">I'm not interested in the&nbsp;Daily&nbsp;Card</button>
      <button onclick="window.location.href='/thanks'">Subscribe to Daily Card (5&nbsp;credits&nbsp;per&nbsp;day)</button>
    </div>

    <footer>
      <a href="https://astrolove.com" class="back-astro">Back to Astrolove</a>
    </footer>
  </main>
</body>
</html>
